.vccgbtn {
    font-size: 10px;
    position: fixed;
    right: 0;
    bottom: 100px;
    z-index: 10000;
    -position: absolute;
    width: 35px;
}

.vccgbtn .btn {
    display: block;
    position: relative;
    margin: 0 0 5px;
    height: 20px;
    line-height: 20px;
    padding: 10px;
    text-decoration: none;
    border: 1px solid #E9E9E9;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    margin-top: 5px;
    background: #FFF;
    color: gray;
    left: 0;
    width: 290px;
    white-space: nowrap;
    -webkit-transition: left .3s ease-in-out;
    -moz-transition: left .3s ease-in-out;
    -o-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out;
}

.vccgbtn .extend{
    left: -260px;
    height: 150px;
}

.vccgbtn .left{
    width: 35px;
    float: left;
    display: inline;
}

.vccgbtn .right{
    padding-left: 40px;
    padding-right: 10px;
    overflow: auto;
    height: 150px;
}

.vcctips {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    display: block;
    opacity: 0.4;
    background-color: #fff;
    z-index: 99;
    text-align: center;
    padding-top: 200px;
    font-size: 20px;
}
