<div class="vccbar">
    <a href="" disabled>{{connectedTitle}}</a>
    <a href="" ng-mouseenter="openDialog('login', $event)" ng-show="!agent.logined">登录</a>
    <a href="" ng-mouseenter="openDialog('logined', $event)" ng-show="agent.logined">状态</a>
    <a href="" ng-mouseenter="openDialog('dial', $event)" ng-show="bar.collapse">外拨</a>
    <a href="" ng-mouseenter="openDialog('hold', $event)" ng-show="bar.collapse">保持</a>
    <a href="" ng-mouseenter="openDialog('transfer', $event)" ng-show="bar.collapse">转移</a>
    <a href="" ng-mouseenter="openDialog('consult', $event)" ng-show="bar.collapse">咨询</a>
    <a href="" ng-mouseenter="openDialog('more', $event)" ng-show="bar.collapse">更多</a>
    <a href="" ng-show="errorTitle != ''" disabled>{{errorTitle}}</a>
    <a href="" ng-click="collapseBar()" ng-show="agent.logined">{{bar.sign}}</a>
</div>


<div ng-switch="dialog.content" ng-style="{'left': dialog.left + 'px'}" class="vccpopover" ng-show="dialog.open">
    <div>
        <a class="close" href="" ng-click="hideDialog()">X</a>
    </div>
    <div ng-switch-when="login">
        <div ng-include="'vcc_login.html'"></div>
    </div>
    <div ng-switch-when="dial">
        <div ng-include="'vcc_dial.html'"></div>
    </div>
    <div ng-switch-when="hold">
        <div ng-include="'vcc_hold.html'"></div>
    </div>
    <div ng-switch-when="consult">
        <div ng-include="'vcc_consult.html'"></div>
    </div>
    <div ng-switch-when="logined">
        <div ng-include="'vcc_logined.html'"></div>
    </div>
    <div ng-switch-when="more">
        <div ng-include="'vcc_more.html'"></div>
    </div>
    <div ng-switch-when="transfer">
        <div ng-include="'vcc_transfer.html'"></div>
    </div>
</div>


<script type="text/ng-template" id="vcc_login.html">
    <div ng-controller="LoginCtrl">
        <div>
            <label>工号
                <input ng-model="agentId" type="text">
            </label>
        </div>
        <div>
            <label>密码
                <input type="password" ng-model="password">
            </label>
        </div>
        <div>
            <label>绑定号码
                <input ng-model="ext">
            </label>
        </div>
        <div>
            <button ng-click="login()">登录</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="vcc_logined.html">
    <div ng-controller="LoginedCtrl">
        <div>
            <p>姓名 {{agentName}}</p>
        </div>
        <div>
            <input ng-model="ext" placeholder="绑定号码">
            <button ng-click="changeExt()">更改</button>
        </div>
        <div>
            <p>工号 {{agentId}}</p>
        </div>
        <div>
            <p>状态 {{stateDescr}}</p>
            <button ng-click="busy()">示忙</button>
            <button ng-click="idle()">示闲</button>
        </div>
        <div>
            <button ng-click="logout()">登出</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="vcc_hold.html">
    <div ng-controller="HoldCtrl">
        <div>
            <button ng-click="hold()" ng-disabled="disHold">保持</button>
            <button ng-click="unHold()" ng-disabled="disUnHold">取消</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="vcc_dial.html">
    <div ng-controller="DialCtrl">
        <div>
            <label>类型
                <select ng-change="typeChange()" ng-model="type"
                        ng-options="type.value as type.display for type in types"></select>
            </label>
        </div>

        <div ng-switch="type">
            <label ng-switch-when="2">号码
                <input ng-model="$parent.target">
            </label>
            <label ng-switch-when="3">坐席
                <select ng-model="$parent.target" ng-options="agent.value as agent.display for agent in agents"></select>
            </label>
        </div>
        <div>
            <button ng-click="dial()" ng-disabled="disDial">外拨</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="vcc_consult.html">
    <div ng-controller="ConsultCtrl">
        <div>
            <label>类型
                <select ng-model="type" ng-change="typeChange()" ng-options="type.value as type.display for type in types"></select>
            </label>
        </div>
        <div>
            <div ng-switch="type">
                <label ng-switch-when="2">号码
                    <input ng-model="$parent.target">
                </label>
                <label ng-switch-when="3">坐席
                    <select ng-model="$parent.target" ng-options="agent.value as agent.display for agent in agents"></select>
                </label>
            </div>
        </div>
        <div>
            <button ng-click="consult()" ng-disabled="disConsult">咨询</button>
            <button ng-click="cancel()" ng-disabled="disConsultCancel">取消</button>
            <button ng-click="transfer()" ng-disabled="disConsultTrans">转移</button>
            <button ng-click="bridge()" ng-disabled="disConsultBridge">三方</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="vcc_transfer.html">
    <div ng-controller="TransferCtrl">
        <div>
            <label>类型
                <select ng-model="type" ng-change="typeChange()" ng-options="type.value as type.display for type in types"></select>
            </label>
        </div>
        <div ng-switch="type">
            <label ng-switch-when="2">号码
                <input ng-model="$parent.target">
            </label>
            <label ng-switch-when="3">坐席
                <select ng-model="$parent.target" ng-options="agent.value as agent.display for agent in agents"></select>
            </label>
            <label ng-switch-when="1">IVR
                <select ng-model="$parent.target" ng-options="ivr.value as ivr.display for ivr in ivrs"></select>
            </label>
            <label ng-switch-when="4">队列
                <select ng-model="$parent.target" ng-options="queue.value as queue.display for queue in queues"></select>
            </label>
        </div>
        <div>
            <button ng-click="transfer()" ng-disabled="disTransfer">转移</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="vcc_more.html">
    <div ng-controller="MoreCtrl">
        <div>
            <button ng-click="refresh()">刷新</button>
        </div>

        <ul>
            <li ng-repeat="agent in agents">
                <p>{{agent.name}} {{agent.stateDescr}}</p>
            </li>
        </ul>
    </div>
</script>

